body{
    background-color: #ffce29;
    color: antiquewhite;
    background-image: url("https://jlaw21.github.io/Resources/mario.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    font-size:100%;
    margin: auto;
    padding: 0;
    width:98%;
}

header{
    background-color:  rgb(255, 57, 57);
    /* background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png"); */
    font-family: 'press start 2P', cursive;
    padding: 0 20pX 0 20px;
    border: 10px double #02e702;
    margin-top: 10px;
    margin-bottom: 10px;
}

section{
     background-color: teal;
}

section header{
    color:#02e702;
    line-height: 2em;
    text-indent: 3px;
}

aside{
    background-color: #007b4a;
}

footer{
    background-color:  rgb(255, 57, 57);
}

nav{
    background-color: #007b4a;
    background-image: url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size: contain;
    border: 10px solid transparent;
    border-image: url("https://jlaw21.github.io/Resources/mario-bricks.PNG") 30% round; 
}

a{
     text-decoration: none;
}
h3{
    color: #00deff;
    font-size: 1.4em;
    font-style: oblique;
}

p, li{
    font: small-caps 2em 'vt323', monospace;
}

p{
    line-height: 1.6em;
    text-shadow: 1px 1px 2px black;
    letter-spacing: .05em;
    word-spacing: .1em;
}

h1{
    color: #00deff;
    font-style: oblique;
    text-shadow: 10px 10px 2px blue;
    text-align: center;
}
